<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color:green;">Mājas lapa</h1>
    <h3>Sveiki!!!!</h3>
    <h2 style="border:4px solid Tomato;">Hello to Hell</h2>

    <p th:text="${age}"></p>

    <p>Mani sauc Jānis</p>

    <button>KaBooom</button>

    <div>
        <li>Piens</li>
        <li>ūdens</li>
        <li>nazis</li>
        <li>Roltoni</li>
    </div>

    <ol>
        <li>Semija māte</li>
        <li>pringals can</li>
        <li>kečups bez tomātiem</li>
        <li>Roltoni</li>
    </ol>
    
</body>
</html>